<div id="<%= dom_id post %>">
  <p>
    <strong>Category:</strong>
    <%= post.category_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= post.status %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= post.summary %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

</div>
